File to import, clean, and analyze data. Can then move the code to a different file for proper documentation purposes.

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [12]:
# URL for the dataset
url = "https://github.com/JeffSackmann/tennis_atp/blob/master"

# Load the dataset, going from 2004 to 2024 (picking only atp_matches_years.csv)
years = list(range(2004, 2025))
matches = []
for year in years:
    file_url = f"{url}/atp_matches_{year}.csv?raw=true"
    df = pd.read_csv(file_url)
    matches.append(df)
# Concatenate all dataframes into one
matches_df = pd.concat(matches, ignore_index=True)
# Drop duplicates
# matches_df.drop_duplicates(inplace=True)
# Reset index
matches_df.reset_index(drop=True, inplace=True)

# Display the first few rows of the dataframe
print(matches_df.head())
# Display the shape of the dataframe
print(matches_df.shape)
# Display the columns of the dataframe
print(matches_df.columns)
# Display the data types of the columns
print(matches_df.dtypes)
# Display the summary statistics of the dataframe
print(matches_df.describe())

  tourney_id    tourney_name surface  draw_size tourney_level  tourney_date  \
0  2004-1536  Madrid Masters    Hard         48             M      20041018
1  2004-1536  Madrid Masters    Hard         48             M      20041018
2  2004-1536  Madrid Masters    Hard         48             M      20041018
3  2004-1536  Madrid Masters    Hard         48             M      20041018
4  2004-1536  Madrid Masters    Hard         48             M      20041018

   match_num  winner_id  winner_seed winner_entry  ... l_1stIn l_1stWon  \
0          1     102610          NaN          NaN  ...    64.0     40.0
1          2     103344          NaN          NaN  ...    29.0     21.0
2          3     102179          NaN            Q  ...    28.0     23.0
3          4     103084          NaN          NaN  ...    53.0     35.0
4          5     104417          NaN          NaN  ...    37.0     27.0

   l_2ndWon l_SvGms  l_bpSaved  l_bpFaced  winner_rank winner_rank_points  \
0      28.0    16.0       13.0       17.0         54.0              705.0
1      16.0    10.0        4.0        6.0         29.0             1085.0
2      19.0    10.0        2.0        4.0         96.0              436.0
3      23.0    15.0        4.0       10.0         16.0             1369.0
4      13.0    10.0        2.0        3.0         34.0              965.0

  loser_rank loser_rank_points
0       65.0             598.0
1       38.0             883.0
2       56.0             685.0
3      112.0             384.0
4       35.0             961.0

[5 rows x 49 columns]
(61790, 49)
Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')
tourney_id             object
tourney_name           object
surface                object
draw_size               int64
tourney_level          object
tourney_date            int64
match_num               int64
winner_id               int64
winner_seed           float64
winner_entry           object
winner_name            object
winner_hand            object
winner_ht             float64
winner_ioc             object
winner_age            float64
loser_id                int64
loser_seed            float64
loser_entry            object
loser_name             object
loser_hand             object
loser_ht              float64
loser_ioc              object
loser_age             float64
score                  object
best_of                 int64
round                  object
minutes               float64
w_ace                 float64
w_df                  float64
w_svpt                float64
w_1stIn               float64
w_1stWon              float64
w_2ndWon              float64
w_SvGms               float64
w_bpSaved             float64
w_bpFaced             float64
l_ace                 float64
l_df                  float64
l_svpt                float64
l_1stIn               float64
l_1stWon              float64
l_2ndWon              float64
l_SvGms               float64
l_bpSaved             float64
l_bpFaced             float64
winner_rank           float64
winner_rank_points    float64
loser_rank            float64
loser_rank_points     float64
dtype: object
          draw_size  tourney_date     match_num      winner_id   winner_seed  \
count  61790.000000  6.179000e+04  61790.000000   61790.000000  26160.000000
mean      55.876711  2.013679e+07    118.283913  112752.509031      7.480199
std       40.924883  6.115811e+04    140.965726   24671.210801      6.938684
min        2.000000  2.004010e+07      1.000000  100644.000000      1.000000
25%       32.000000  2.008082e+07     13.000000  103920.250000      3.000000
50%       32.000000  2.013093e+07     39.000000  104745.000000      5.000000
75%       64.000000  2.019022e+07    271.000000  105807.000000      9.000000
max      128.000000  2.024122e+07   1701.000000  212721.000000     33.000000

          winner_ht    winner_age       loser_id    loser_seed      loser_ht  \
count  60768.000000  61787.000000   61790.000000  14467.000000  59616.000000
mean     186.647298     26.558116  112729.780013      9.080044    185.982136
std        7.133717      4.036229   24534.210462      7.510789      7.055567
min        3.000000     14.900000  100644.000000      1.000000      3.000000
25%      183.000000     23.600000  103909.000000      4.000000    183.000000
50%      185.000000     26.300000  104755.000000      7.000000    185.000000
75%      191.000000     29.200000  105936.000000     12.000000    190.000000
max      211.000000     44.600000  212970.000000     33.000000    211.000000

       ...       l_1stIn      l_1stWon      l_2ndWon       l_SvGms  \
count  ...  56827.000000  56827.000000  56827.000000  56827.000000
mean   ...     49.102416     32.823095     14.810301     12.334718
std    ...     19.299350     14.463356      7.113315      4.230779
min    ...      0.000000      0.000000      0.000000      0.000000
25%    ...     35.000000     23.000000     10.000000      9.000000
50%    ...     46.000000     31.000000     14.000000     11.000000
75%    ...     60.000000     41.000000     19.000000     15.000000
max    ...    328.000000    284.000000    101.000000     91.000000

          l_bpSaved     l_bpFaced   winner_rank  winner_rank_points  \
count  56827.000000  56827.000000  61390.000000        61390.000000
mean       4.749274      8.540782     78.832660         1723.414579
std        3.253969      4.124702    137.829432         2151.285187
min        0.000000      0.000000      1.000000            1.000000
25%        2.000000      6.000000     17.000000          603.000000
50%        4.000000      8.000000     44.000000          970.000000
75%        7.000000     11.000000     85.000000         1825.000000
max       27.000000     38.000000   2101.000000        16950.000000

         loser_rank  loser_rank_points
count  60700.000000       60700.000000
mean     117.785717        1023.741054
std      188.298346        1192.493987
min        1.000000           1.000000
25%       36.000000         458.000000
50%       67.000000         735.000000
75%      113.000000        1140.000000
max     2159.000000       16950.000000

[8 rows x 35 columns]